<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:insert="layout/navbar.html :: navbar"></div>

<br>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Task Name</th>
        <th scope="col">Task Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Done</th>
        <th scope="col">Action #1</th>
        <th scope="col">Action #2</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,num : ${tasks}">
        <th th:text="${num.count}" scope="row"></th>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.isDone}"></td>
        <td>
            <form method="post" th:action="@{'/finish/task/{id}' (id = ${task.id})}" th:if="${task.isDone == false}">
                <button type="submit" class="btn btn-danger">Finish</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{'/delete/task/{id}' (id = ${task.id})}" >
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>